bug.png
ElevenCalendar.exe
elevencalendar_bin/
ElevenCalendarBin/
elevencalendar\__init__.spec
elevencalendar\lang\__pycache__\*
*.pyc
*.pyo
__init__
ElevenCalendar.zip
*.code-workspace
elevencalendar/.vscode/launch.json
elevencalendar/lang/lang_backup*

# generate_release.py
RELEASE.md

# Virtual environments
venv/
env/
eleven/

# Intellij Cache and Settings folder
.idea/
elevencalendar.py
compile.py
build_BETA.bat
APIKEY.txt
ElevenCalendar.Installer.exe
__init__.exe
ElevenCalendar.Installer.exe.zip
.vscode/launch.json
.vs/
scripts/APIKEY.txt
sign.cmd.lnk
